services:
  curiomap.db:
    image: postgres:latest
    env_file: back/conf/curioMap.env
    ports:
      - "5435:5432"
    networks:
      - curioMap_net
    volumes:
      - ./sql:/var/sql
      - pg-data:/var/lib/postgresql/data
    restart: unless-stopped

  adminer:
    image: adminer
    ports:
      - "2026:8080"
    networks:
      - curioMap_net
    restart: unless-stopped

  curioMap:
    image: php:8.2-cli-alpine
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8000:80"
    command: php -S 0.0.0.0:80 -t /app/front/dist
    networks:
      - curioMap_net

  backend:
    env_file: back/conf/curioMap.env
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8888:80"
    networks:
      - curioMap_net
    depends_on:
      - curiomap.db

  frontend:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./front:/app
    command: sh -c "npm install && npm run dev"
    ports:
      - "5555:5555"

networks:
  curioMap_net:
    driver: bridge

volumes:
  pg-data:
