services:
  curiomap.db:
    image: postgres:latest
    env_file: back/conf/curioMap.env
    ports:
      - "5454:5432"
    networks:
      - curioMap_net
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
      - pg-data:/var/lib/postgresql/data
    restart: unless-stopped

  adminer:
    image: adminer
    ports:
      - "8001:8080"
    networks:
      - curioMap_net
    depends_on:
      - curiomap.db
    restart: unless-stopped

  curioMap:
    image: php:8.2-cli-alpine
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8000:80"
    command: php -S 0.0.0.0:80 -t /app/front/dist
    networks:
      - curioMap_net

  backend:
    env_file: back/conf/curioMap.env
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8002:80"
    networks:
      - curioMap_net
    depends_on:
      - curiomap.db
    command: sh -c "composer install && php -S 0.0.0.0:80 -t /app/back/public /app/back/public/index.php"

  frontend:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./front:/app
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - VITE_API_URL=http://backend:80
    depends_on:
      - backend

networks:
  curioMap_net:
    driver: bridge

volumes:
  pg-data: